{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<!--Navbar Start-->
<nav class="navbar navbar-expand-lg fixed-top  navbar-fusionx normal-nav" style="background-color: #6C55A3;">
    <div class="container">
        <a class="navbar-brand logo" href="">
            <img src="{% static 'images/chat-icon.png' %}" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
                <li class="nav-item ">
                    <a href="{% url 'index' %}" class="nav-link">Home</a>
                </li>
                <li class="nav-item active">
                    <a href="{% url 'about' %}" class="nav-link">About</a>
                </li>



            </ul>
        </div>
    </div>
</nav>
<!-- Navbar End -->
<!-- About Start -->
<section class="section bg-grey" id="about" style="margin-bottom: 100px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="text-center mb-5">
                    <h2 class="highlight header-colorize text-uppercase mb-3">About Us</h2>
                    <p class="text-sub size-14"></p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img src="{% static 'images/magic.png' %}" alt="" class="img-fluid rounded-circle mx-auto d-block">
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="text-sub mt-5 mt-lg-0">
                    <h2 class="title font-weight-bolder mb-4">Code_Stego</h2>
                    <ul>
                        <li> <p class="mb-4 size-15">Code_Stego implements a Steganography algorithm to save source code into
                            Image of
                            the styled code snippet.
                        </p></li>
                        <li><p class="mb-4 size-15">Code_Stego is the project made by The Magic Methods team, for Python Discord
                            Code Jam 2023</p>
    </li>
                    </ul>
                   
                    
                    <h2 class="title font-weight-bolder mb-4">Features</h2>
                    <ul>
                        <li>
                            <p class="mb-4 size-15">Your code snippet can be shared anywhere, and the image would contain the
                                source code within itself. This would be a lot of help for others, and save them a lot of time,
                                if they want to retype the code by themselves.
                            </p>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About End -->


{% endblock %}