/*********************************************/
/*              GENERAL CSS                  "/
/*********************************************/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  font-family: "Poppins", sans-serif;
  color: #343a40;
  background: #ffffff;
}
a {
  outline: none;
  color: #6C55A3;
  text-decoration: none !important;
}
a:hover {
  color: #53407f;
}
p {
  line-height: 1.9;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

/*********************************************/
/*              UTILITY CSS                  "/
/*********************************************/

.text-sub {
    color: #9b9bae !important;
  }
  .bg-grey {
    background-color: #F8F6FA !important;
  }
  .title {
    color: #343a40;
  }
  .header-colorize {
    font-weight: 700;
    color: #6C55A3;
  }
  .section {
    padding: 120px 0px 120px 0px;
    position: relative;
  }
  .size-14 {
    font-size: 14px;
  }
  .size-15 {
    font-size: 15px;
  }
  .size-18 {
    font-size: 18px;
  }
  .right-icon {
    line-height: 0;
    font-size: 19px;
  }
  .learn-more {
    color: #6C55A3;
    font-weight: 700;
  }
  .highlight {
    background: rgba(122, 96, 183, 0.1);
    -webkit-box-shadow: 0 1px 2px rgba(122, 96, 183, 0.5);
    box-shadow: 0 1px 2px rgba(122, 96, 183, 0.5);
    color: #6c55a3;
    border-radius: 13px;
    display: inline-block;
    padding: .25em .4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  .header-bg {
    padding: 170px 0 140px;
    background-image: url('../images/header-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
  }
  .header-bg .header-small-title {
    letter-spacing: 2px;
  }
  .header-bg .main-title {
    font-size: 2.8rem;
    line-height: 1.35;
    color: #6C55A3;
  }

  /*********************************************/
/*              NAVBAR CSS                  "/
/*********************************************/

.nav-item .nav-link {
    text-decoration: none;
    display: inline-block;
    color: #343a40;
  }
  .navbar-fusionx {
    margin-bottom: 0px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: transparent;
    padding: 14px 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
  }
  .navbar-brand {
    cursor: pointer;
  }
  .navbar-fusionx .navbar-nav li a {
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    font-weight: 600;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: transparent !important;
    padding: 6px 0;
    margin: 0 20px;
  }
  .navbar-fusionx .navbar-nav li .nav-link {
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar-fusionx .navbar-toggles {
    font-size: 18px;
    background: 0 0;
    border: 1px solid transparent;
    color: #ffffff;
    outline: 0;
    padding: .26rem .76rem;
  }
  .navbar-fusionx .navbar-nav li.active a, .navbar-fusionx .navbar-nav li a:hover, .navbar-fusionx .navbar-nav li a:active {
    color: #ffffff !important;
  }
  .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    border-color: #6C55A3;
  }
  .navbar-toggler {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #000;
  }
  .fas.fa-bars {
    color: #6C55A3 !important;
  }
  .sticky-nav.navbar-fusionx .navbar-toggles {
    border: 1px solid transparent;
    padding: .26rem .76rem;
    outline: 0;
  }
  .sticky-nav.navbar-fusionx {
    margin-top: 0px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
    color: #000000 !important;
  }
  .sticky-nav.navbar-fusionx .navbar-nav {
    margin-top: 0px;
  }
  .sticky-nav.navbar-fusionx .navbar-nav li a {
    color: #cacae7 !important;
  }
  .sticky-nav.navbar-fusionx .navbar-nav li.active a, .sticky-nav.navbar-fusionx .navbar-nav li a:hover, .sticky-nav.navbar-fusionx .navbar-nav li a:active {
    color: #ebebf3 !important;
  }
  .navbar-toggler:focus {
    outline: none;
  }


  /*********************************************/
/*              BUTTONS CSS                  "/
/*********************************************/

.btn {
    border-radius: 4px;
    padding: 12px 30px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-weight: 700;
    font-size: 15px !important;
  }
  .btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  .btn:hover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  .btn.btn-primary {
    color: #ffffff;
    background-color: #6C55A3 !important;
    border: 1px solid #6C55A3 !important;
    -webkit-box-shadow: 0 4px 20px rgba(94, 98, 255, 0.15);
    box-shadow: 0 4px 20px rgba(94, 98, 255, 0.15);
  }
  .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary.focus, .btn.btn-primary:active, .btn.btn-primary.active {
    background-color: #53407f !important;
    border: 1px solid #53407f !important;
    -webkit-box-shadow: 0 3px 10px rgba(94, 98, 255, 0.5);
    box-shadow: 0 3px 10px rgba(94, 98, 255, 0.5);
    color: #ffffff !important;
  }



  /*********************************************/
/*              SERVICES CSS                  "/
/*********************************************/
.services-container .services-icon {
    height: 72px;
    width: 72px;
    background: rgba(108, 85, 163, 0.08);
    font-size: 30px;
    display: inline-block;
    border-radius: 50% 50%;
    line-height: 74px;
    text-align: center;
    color: #6C55A3;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .services-container .services-title {
    font-size: 1.4rem;
    color: #343a40;
  }


/********************************************************************/
/*               ACCOMPLISHED PROJECTS COUNTER CSS                  "/
/*******************************************************************/

.accomplished-counter-icon {
    font-size: 52px;
  }
  .accomplished-counter-bg .accomplished-counter-box {
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .accomplished-accomplished-counter-bg {
    background: #6C55A3;
  }
  .accomplished-counter-bg .accomplished-counter-bg {
    background-color: #6C55A3;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }


/*********************************************/
/*                FORMS CSS                  "/
/*********************************************/

.form-control:focus {
    background-color: #fbfbfb;
    border-color: #6C55A3;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .form-control {
    background-color: rgba(52, 58, 64, 0.01);
    border: 1px solid rgba(155, 155, 174, 0.3);

    font-size: 14px;
  }
  .form-control::-webkit-input-placeholder {
    font-size: 15px;
    color: #9b9bae;
  }
  .form-control:-ms-input-placeholder {
    color: #9b9bae;
    font-size: 15px;
  }
  .form-control::-ms-input-placeholder {
    font-size: 15px;
    color: #9b9bae;
  }
  .form-control::placeholder {
    color: #9b9bae;
    font-size: 15px;
  }



/*********************************************/
/*              CAROUSEL CSS                  "/
/*********************************************/

.col-center {
    margin: 0 auto;
    float: none !important;
  }
  .carousel {
    margin: 50px auto;
    padding: 0 70px;
  }
  .carousel .item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
  }
  .carousel .item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
  }
  .carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
  }
  .carousel .testimonial {
    padding: 30px 0 10px;
  }
  .carousel .overview {
    font-style: italic;
  }
  .carousel .overview b {
    text-transform: uppercase;
    color: #6C55A3;
  }
  .carousel .carousel-control {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
  }
  .carousel-control i {
    font-size: 68px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
  }
  .carousel .carousel-indicators {
    bottom: -40px;
  }
  .carousel-indicators li, .carousel-indicators li.active {
    width: 21px;
    height: 0px;
    margin: 1px 3px;
  }
  .carousel-indicators li {
    background: #999;
    border-color: transparent;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  .carousel-indicators li.active {
    background: #6C55A3;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
  }


/*********************************************/
/*              FOOTER CSS                  "/
/*********************************************/

.footer {
    background-color: #6C55A3;
    padding-top: 20px;
  }
  .footer p {
    color: #fff;
  }


/*********************************************/
/*              RESPONSIVE CSS               "/
/*********************************************/

@media (min-width: 200px) and (max-width: 768px) {
    .navbar-fusionx {
      background-color: #ffffff !important;
      -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
      margin-top: 0px;
      color: #ffffff !important;
    }
    .navbar-toggler {
      margin-bottom: 0px;
      font-size: 24px;
      margin-top: 0px;
      color: #343a40;
    }
    .navbar-fusionx .navbar-nav {
      margin-top: 0px;
    }
    .navbar-fusionx .navbar-nav li a {
      margin: 0px;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
      color: #9b9bae !important;
    }
    .navbar-fusionx>.container {
      width: 90%;
    }
    .navbar-collapse {
      padding: 0 20px;
    }
    .navbar-fusionx .navbar-nav li.active a {
      border-color: transparent;
    }
    .navbar-fusionx .navbar-nav li.active a, .navbar-fusionx .navbar-nav li a:hover, .navbar-fusionx .navbar-nav li a:active {
      color: #6C55A3 !important;
    }
  }
  @media (max-width: 425px) {
    .header-bg .main-title {
      font-size: 2rem;
    }
  }
  @media (max-width: 768px) {
    .header-bg {
      padding: 120px 0;
    }
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    .header-bg {
      background: none !important;
    }
  }
